/* Practice commenting stuff*/
/*Pulling some colors and formatting from my 1st project so I have some continuity as the whole thing comes together*/
$primary-color: #2c3e50; //From old H2
$secondary-color: #a0c9c5; //old H1
$accent-color: #6d6ba5;
$border-color: #5a8c88;
$background-color: #eef2f5;